/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --manCityBlue: #98c5e9;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --transparentWhite: rgba(255, 255, 255, 0.7);
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    background: linear-gradient(100deg, rgba(0, 0,0,0.4), rgba(0,0,0,0.6)),
    url("https://www.thesportsdb.com/images/media/team/fanart/qxvuqw1424220465.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  position: relative;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--manCityBlue);
  border: 2px solid var(--manCityBlue);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--manCityBlue);
  color: var(--mainWhite);
}
.btn-primary {
  background: var(--manCityBlue);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--manCityBlue);
}

/* 
====== 
Navbar
======
*/
.navbar {
  background: rgba(0, 0, 0, 0.3);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--manCityBlue);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
  color: var(--offWhite);
}
.nav-links a:hover {
  color: var(--manCityBlue);
}
.logo {
  width: 12rem;
  margin-bottom: 2rem;
}

/** Mobile Menu **/
@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    align-items: right;
    background: rgba(0, 0, 0, 0.3);
    color: var(--offWhite);
    right: 0;
    justify-content: space-between;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    order: 2;
    margin-left: auto;
    cursor: pointer;
  }

  .navbar li a {
    color: var(--offWhite);
  }
  
  .navbar li {
    padding: 15px;
    position: relative;
  }

  .navbar li:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  .navbar .navbar-dropdown__menu,
  .navbar .navbar-dropdown__submenu {
    display: none;
    position: absolute;
    background: var(--mainBlack);
    color: var(--offWhite);
    width: 150px;
    top: 50px;
    right: 0;
  }

  .navbar .navbar-dropdown__category:hover .navbar-dropdown__menu,
  .navbar .navbar-dropdown__subcategory:hover .navbar-dropdown__submenu {
    display: block;
  }

  .navbar .navbar-dropdown__submenu {
    top: 0;
    right: 100%;
  }
}


/* 
====== 
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
  color: var(--mainBlack);
  background-color: var(--transparentWhite);
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 0px 10px;
}

/* 
====== 
Visit
======
*/
.visit-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  background-color: var(--transparentWhite);
  margin: 0 auto;
  color: var(--mainBlack);
}
.stadium-description {
  background-color: var(--offWhite);
  margin-bottom: 5rem;
  padding: 10px 20px;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  cursor: pointer;
}
.visit-section span {
  cursor: pointer;
}
.caret-icon {
  float: right;
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: -45px;
}
.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
  margin-top: 3rem;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .rounded-social-buttons {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
  color: var(--mainWhite);
}
/* 
====== 
Cocktails List 
======
*/

.section {
  padding: 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

/* 
====== 
Home 
======
*/
.badge {
  margin-top: 1rem;
  padding-bottom: 0;
}
.badge img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--manCityBlue);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
